# Virtual environment
.venv

# Ignore the data folder
data/*
!data/processed
data/processed/*
!data/processed/best_route.csv
!data/processed/time-vs-distance.csv
!data/processed/results-analysis.csv

# Maps
*.html

# Python cache files
*.pyc

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bcf
*.xml

# Markdown
ideas.md