# Virtual environment
.venv

# Data
*.xls
*.csv

# Maps
*.html

# Python cache files
*.pyc

# Latex
# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bcf
*.xml
